@charset "utf-8";

* {
    font-family: "メイリオ", sans-serif, serif;
}

#top {
    background-color: rgb(255, 243, 243);
    border-radius: 10px;
}

body {
    background-color: rgb(246, 232, 214);
}

h1,
h2 {
    color: #346634;
    margin: 50px 20px 20px 20px;
}

h2 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

a:link {
    color: rgb(0, 8, 255);
}

a:visited {
    color: rgb(179, 10, 225)
}

a:hover {
    font-size: 20px;
}

input[type="button"] {
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    background-color: #fdfffd;
    color: #346634;
}

.moji::first-letter {
    font-size: 2em;
}